<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <div class="toolbar">
    <button (click)="changeContent()">change content</button>
    <button (click)="changeContentToNull()">change content to null</button>
  </div>
  <nb-ngr2-markdown
    [options]="{anchor: true, TOC: true}"
    [markdown]="content"
    [bodyClassName]="'markdown-body'"
    [height]="'calc(100vh - 40px)'"
    class="markdown"
  ></nb-ngr2-markdown>
</div>
<router-outlet></router-outlet>
